:root {
  --back-light-color: #ffffff;
  --back-dark-color: #0b5cab;
  --back-darker-color: #032d60;
  --text-light-color: #ffffff;
  --border-color: #747474;
  --font-family: verdana, sans-serif;
  --font-size: 13px;
}

* {
  font-family: var(--font-family);
  font-size: var(--font-size);
}

body {
  background-color: var(--back-light-color);
  max-width: 300px;
  max-height: 300px;
}

button {
  background-color: var(--back-dark-color);
  color: var(--text-light-color);
  border: none;
  padding: 2px 55px;
  text-align: center;
  display: inline-block;
}

button:hover {
  background-color: var(--back-darker-color);
  transition: 0.3s;
}