:root {
  --back-light-color: #ffffff;
  --back-dark-color: #0b5cab;
  --back-darker-color: #032d60;
  --text-light-color: #ffffff;
  --text-dark-color: #000000;
  --border-color: #747474;
  --row-color: #f2f2f2;
  --font-family: verdana, sans-serif;
  --font-size: 13px;
  --width: 300px;
}

* {
  font-family: var(--font-family);
  font-size: var(--font-size);
}

body {
  background-color: var(--back-light-color);
}

select {
  background-color: inherit;
  color: var(--text-dark-color);
  border: 1px solid var(--border-color);
  width: calc(var(--width) + 5px);
}

option {
  background-color: var(--back-light-color);
  color: var(--text-dark-color);
}

input[type="text"] {
  background-color: inherit;
  color: var(--text-dark-color);
  border: 1px solid var(--border-color);
  width: var(--width);
}

input[type="checkbox"] {
  background-color: inherit;
  border: 1px solid var(--border-color);
  width: 16px;
  height: 16px;
  margin: 0px 0px 0px 0px;
  appearance: none;
}

input[type="checkbox"]:checked::after {
  content: "";
  display: block;
  width: 5px;
  height: 10px;
  border: solid var(--text-dark-color);
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  position: relative;
  left: 4px;
}

input[type="file"] {
  display: none;
}

textarea {
  background-color: inherit;
  color: var(--text-dark-color);
  border: 1px solid var(--border-color);
  width: var(--width);
  height: 54px;
}

select:focus, input:focus, textarea:focus {
  outline: none;
}

#inputs td {
  background-color: inherit;
  color: var(--text-dark-color);
  padding: 6px 0px;
}

#results th {
  background-color: var(--back-dark-color);
  color: var(--text-light-color);
  padding: 12px;
  text-align: left;
  position: sticky;
  top: 0;
}

#results td {
  color: var(--text-dark-color);
  padding: 12px;
  text-align: left;
}

#results tr:nth-child(even) {
  background-color: var(--row-color);
}

#results tr:nth-child(odd) {
  background-color: var(--back-light-color);
}

#buttons td {
  background-color: inherit;
  padding: 6px 0px;
}

button {
  background-color: var(--back-dark-color);
  color: var(--text-light-color);
  border: none;
  padding: 2px 55px;
  text-align: center;
  width: 160px;
}

button:hover, label:hover, #results th:hover {
  background-color: var(--back-darker-color);
  transition: 0.3s;
}

button:active {
  transform: translateY(2px);
}