<div>
  <app-header [name]="name" [version]="version" [BUname]="BUname" [BUid]="BUid" (emitter)="OnHeaderEmitted($event)"></app-header>
</div>
<div class="entry">
  <app-search #search [hidden]="!showSearch" (emitter)="OnSearchEmitted($event)"></app-search>
  <app-results #results [hidden]="!showSearch"></app-results>
  <app-load [hidden]="!showLoad" (emitter)="OnLoadEmitted($event)"></app-load>
  <app-export #export [hidden]="!showExport" (emitter)="OnExportEmitted($event)"></app-export>
  <app-deimport [hidden]="!showDEImport" (emitter)="OnDEImportEmitted($event)"></app-deimport>
</div>